* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000;
    --second-color: #a09dab;
    --main-color: #995757;
    --big-font: 4rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --tablet-width: 768px;
    --phone-width: 576px;
}



body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;

}


.logo img {
    max-width: 100%;
    width: 300px;
    height: auto;
    border-radius: 50px;
}

.navlist {
    display: flex;

}

.navlist li {
    position: relative;

}

.navlist a {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
}

.navlist a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease.40s;
}

.navlist a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.top-btn {
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease .50s;
    margin-left: -20px;
}

.top-btn:hover {
    transform: scale(1, 1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--bg-color);

}

section {
    padding: 100px 18%;
}

.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 4rem;
}

.home img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 50px;
}

.home-text h1 {
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;

}

.home-text h5 {
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}

span {
    color: var(--main-color);
}

.home-text h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text p {
    font-size: var(--p-font);
    color: var(-o-second-color);
    line-height: 28px;
    margin-bottom: 20px;
}

.social a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4),
        inset 0 2px 4px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.social a:hover {
    background: var(--main-color);
    transform: translateY(-3px)scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6),
        inset 0 2px 4px rgba(255, 255, 255, 0.2);
}

.bx {
    color: #636363;
}

.social a:hover .bx {
    color: #faedce;
}

.social-2 {
    text-align: end;
    margin-bottom: 20px;
    margin-top: 60px;
    /* 調整這個值直到兩個div貼齊 */
}

.social-2 a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4),
        inset 0 2px 4px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.social-2 a:hover {
    background: var(--main-color);
    transform: translateY(-3px)scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6),
        inset 0 2px 4px rgba(255, 255, 255, 0.2);
}


.social-2 a:hover .bx {
    color: #faedce;
}

.btn {
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 50px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
    margin-top: 20px;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-pre {
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 50px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
    margin-top: 20px;
    margin-left: 44.5%;
    margin-top: 29%;
}

.btn-pre:hover {
    transform: scale(1.1);
}


.home-img img {
    max-width: 100%;
    width: 540px;
    height: auto;
}

header.sticky {
    background: var(--bg-color);
    padding: 13px 18%;
    box-shadow: 0px 0px 10px rgba(0 0 0 / 10%);
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}

.items img {
    width: 100px;
}

.sub-box {
    padding: 45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;
}

.sub-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.sub-box h3 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.sub-box p {
    font-size: var(--p-font);
    color: var(--text-color);
    line-height: 29px;
}

.sub-box:hover {
    background: #ffffff;
    box-shadow: 20px 0px 80px 0px rgb(10 15 50/ 7%);
    border-radius: 20px;
    will-change: transform;
    transform: perspective(1000px)rotateX(4, 70deg)rotateY(10, 20deg)scale3d(1.02, 1.02, 1.02);
}


.about {
    display: grid;
    grid-template-columns: (2, 2fr);
    align-items: center;
    grid-gap: 2rem;

}

.about-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
    margin-left: 630px;
    margin-top: -300px;
    transform: scale(1.2);
}

.about-text h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 8px 0px 25px;
    line-height: 1.1;
    margin-left: -20px;
}

.about-text h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    margin-left: -20px;
}

.about-text p {
    max-width: 500px;
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 30px;
    margin-bottom: 45px;
    margin-left: -20px;
}

.heading {
    text-align: center;
}

.heading_about {
    text-align: center;
    margin-top: 100px;
}

.heading_about h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}

.heading_about h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.heading_about p {
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 28px;
}


.heading h2 {
    font-size: 27px;
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}

.heading h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.heading p {
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 28px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}

.col {
    position: relative;
}

.col img {
    max-width: 100%;
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all .5s;
}

.layer:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5)0%, #191919);
}

.layer h3 {
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: var(--bg-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .10s;
}

.layer h3:hover {
    opacity: 1;
}

.layer h5 {
    position: absolute;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    color: var(--bg-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .10s;
}

.cta-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
}

.cta-box img {
    max-width: 100%;
    width: 50px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.wrap-one {
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 50px 50px 50px 50px;
    transition: ease .40s;
    cursor: pointer;
    background: #baebcd;
}

.wrap-two {
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 50px 50px 50px 50px;
    transition: ease .40s;
    cursor: pointer;
    background: #d9d1fa;
}

.wrap-three {
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 50px 50px 50px 50px;
    transition: ease .40s;
    cursor: pointer;
    background: #faedce;
}

.contact {
    background: #8067f0eb;
    width: 64%;
    margin: 100px auto;
    padding: 70px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.center h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3px;
    color: var(--text-color);
}

.center p {
    font-size: var(--p-font);
    color: var(--text-color);
    line-height: 26px;
    margin-bottom: 25px;
}


.image-effect {
    filter: grayscale(100%);
    width: calc(100% - 10px);
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.image-container {
    width: 100%;
    /* 設定容器的寬度為100%，通常是視窗的寬度 */
    height: 400px;
    /* 給容器一個固定的高度 */
    background-image: url('../img/Perfume2.png');
    /* 設定背景圖片 */
    background-size: cover;
    /* 使用cover確保圖片覆蓋整個容器，並保持圖片比例 */
    background-position: center;
    /* 將圖片置中，這保證了圖片在任何尺寸上都會盡量顯示中間的部分 */
}

.image-container img {
    display: inline-block;
    margin: 0 5px;
}



.image-container_about {
    width: 100%;
    /* 設定容器的寬度為100%，通常是視窗的寬度 */
    height: 400px;
    /* 給容器一個固定的高度 */
    background-image: url('../img/About\ us.png');
    /* 設定背景圖片 */
    background-size: cover;
    /* 使用cover確保圖片覆蓋整個容器，並保持圖片比例 */
    background-position: center;
    /* 將圖片置中，這保證了圖片在任何尺寸上都會盡量顯示中間的部分 */
}

.image-container_about img {
    display: inline-block;
    margin: 0 5px;
}




.ends {
    text-align: center;
    padding: 40px;
    margin-top: 20px;
}

@media(max-width:1425px) {
    header {
        padding: 16px 3%;
        transition: .3s;
    }

    header.sticky {
        padding: 10px 3%;
        transition: .3s;
    }

    section {

        transition: .3s;
    }

    .contact {
        width: 95%;
        transition: .3s;
    }

    :root {
        --big-font: 4rem;
        --h2-font: 2.3rem;
        --p-font: 1.1rem;
        transition: .3s;

    }
}

@media(max-width:970px) {
    #menu-icon {
        display: block;
    }

    .home {
        min-height: 80vh;
    }

    .navlist {
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--main-color);
        text-align: right;
        transition: all .40s;
    }

    .navlist a {
        display: block;
        padding: 1.2rem;
        margin: 1, 5rem;
        border-right: 2px solid var(--bg-color);
        color: var(--bg-color);
    }

    .navlist a:hover {
        background: var(--bg-color);
        color: var(--main-color);
    }

    .navlist a::after {
        display: none;
    }

    .navlist.active {
        top: 100%
    }
}

@media(max-width:800px) {
    .home {
        grid-template-columns: 1fr;
        min-height: 130px;
        grid-gap: 1rem;
    }

    .home-text {
        padding-top: 55px;

    }

    .home-img {
        text-align: center;
        margin-left: -60px;
    }

    .home-img img {
        width: 440px;
        height: auto;
        margin-right: 20px;
    }

    :root {
        --big-font: 3.5rem;
        --h2-font: 2rem;
    }

    section {
        transition: .3s;
    }
}

/* Responsive styles */
@media (max-width: 800px) {



    .social {
        display: flex;
        margin-top: 20px;
        margin-left: 185px;
        margin-bottom: -90px;
        /* 在按钮和社交链接之间提供一点间隔 */
    }

    .social a {
        display: flex;
        margin-top: 20px;
        margin-right: 10px;
        /* 在按钮和社交链接之间提供一点间隔 */
    }

    .social-2 a {
        margin-top: 20px;
        margin-right: 10px;
        /* 在按钮和社交链接之间提供一点间隔 */
    }

    .about-text h3,
    .about-text h2,
    .about-text p {
        font-size: 1rem;
        margin-left: 5px;
        /* adjust the font size to suit your needs */
    }

    .about {
        grid-template-columns: 1fr;
        /* single-column layout on smaller screens */
        padding: 50px 3%;
        /* smaller padding */
    }

    .about-img {
        margin-bottom: 30px;
    }

    .about-img img {
        width: 325px;
        height: auto;
        /* 高度自動，保持圖片的原始比例 */
        display: block;
        /* 區塊顯示，可幫助垂直方向排列 */
        margin: 0 auto;
        /* ensure the image is not larger than its container */
    }

    .btn-pre {
        margin-top: 50px;
        margin-left: 110px;
    }

    .top-btn {
        margin-left: 110px;
        margin-top: 50px;
    }

    @keyframes scrollBackground {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: -200px 0;
            /* 这里的数值可以根据你的图像宽度调整 */
        }
    }

    .container {
        width: 100%;
        overflow: hidden;
    }

    .image-container_about {
        width: 100%;
        /* 容器宽度，你也可以设定固定像素值 */
        height: 200px;
        /* 容器高度，根据需要调整 */

        background-image: url('../img/About us.png');
        background-repeat: repeat-x;
        /* 图片水平重复 */

        animation: scrollBackground 20s linear infinite;
    }


    .image-container {
        width: 100%;
        /* 容器宽度，你也可以设定固定像素值 */
        height: 200px;
        /* 容器高度，根据需要调整 */

        background-image: url('../img/Perfume2.png');
        background-repeat: repeat-x;
        /* 图片水平重复 */

        animation: scrollBackground 20s linear infinite;
    }

}

/* ipad */
@media (min-width: 768px) and (max-width: 1024px) {
    .about-img img {
        max-width: 100%;
        /* 最大寬度為容器的100% */
        max-height: 75vh;
        /* 最大高度為視窗高度的75%，可以根據需求調整 */
        object-fit: contain;
        /* 不剪切圖片，確保圖片全部顯示 */
        width: 400px;
        margin-left: 560px;
    }

    .btn-pre {
        margin-top: 450px;
        margin-left: 420px;
    }

}